.tha-popup-container,
.tha-pop-shadow{
	display:none;
}

.tha-pop-shadow{
	background:rgba(0, 0, 0, 0.76);
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	z-index:9998;
}

.tha-pop-shadow.loading:after{
	content:"";
	display:block;
	position:fixed;
	width:60px;
	height:60px;
	top:50%;
	left:50%;
	margin-top:-30px;
	margin-left:-30px;
	background:url(ajax-loader-white.png);
	background-size:100% auto;
}

.tha-popup-container{
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 90%;
	left: 50%;
	margin-left: -45%;
	height: 90%;
}

.tha-popup-body{
	max-width:90%;
	margin:0 auto;
	padding:5%;
	max-height:80%;
	overflow-y:scroll;
	margin-top: 100px;
	background:#fff;
}

.tha-popup-hide{
	color:#fff;
	font-size:24px;
	position: absolute;
	top: 60px;
	right: -20px;
	width:20px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	width: 40px;
}

@media only screen and (min-width: 800px) {
	.tha-popup-container {
		width: 800px;
		left: 50%;
		margin-left: -400px;
	}
}




/* Content shown within popup should have percentage based width */

.tha-popup-body .container{
	width:100%;
}
